<!-- views/partials/footer.ejs -->
<footer class="footer">
    © WYR 2024 - All rights reserved
    <div style="display: inline-flex;">
        <a class="nav-link" href="/privacy">Privacy</a>
        <a class="nav-link" href="/cookies">Cookies</a>
    </div>
</footer>