<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-8525373858631598">
    <title>Game Over!</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container" style="text-align: center; padding-top: 200px;">
        <h1>Game Over, You Lose</h1>

        <% if (something !== 'undefined') { %>
            <h2><%= something %></h2>
        <% } %>

        <% if (message !== 'undefined') { %>
            <h4><%= message %></h4>
        <% } %>


    
        <a href="/"><button class="btn btn-primary" type="submit">Play Again! <i class="fa-solid fa-rotate-left"></i> </button></a>
        <button class=" btn btn-success">Share!</button>

        <form action="/highscores" method="POST">
            <input type="text" class="form-control" name="userNameTxt" placeholder="enter name"/>
            <button class=" btn btn-success">Submit Highscore</button>
        </form>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8525373858631598"
            crossorigin="anonymous"></script>
        <!-- play again ad -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-8525373858631598"
            data-ad-slot="7982682168"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>


    </div>

    <%- include('partials/footer') %>
</body>


</html>