<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-8525373858631598">
    <title>Game Over!</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1>High Scores</h1>
        
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">Name</th>
                <th scope="col">Score</th>
                <th scope="col">Date</th>
              </tr>
            </thead>
            <tbody>

            <% users.forEach((users, index) => { %>
              <tr>
                <td><%= index+1 %></td>
                <th scope="row"><%= users.userName %></th>
                <td><%= users.score %></td>
                <td></td>
              </tr>
            <% }) %>

            </tbody>
          </table>
    
        <form action="/" method="GET">
            <button class="btn btn-primary" type="submit">Play Again! <i class="fa-solid fa-rotate-left"></i> </button>
        </form>
    </div>

    <%- include('partials/footer') %>
</body>


</html>