
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">





      


      <fieldset>
        <form action="/" method="get">


          <!-- <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required> -->
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City">
          <input type="submit" class="ghost-button" value="Get Weather">



          <div class="row">
            <div class="col">
                <button id="bone">r1= <%= rone %> </button>
            </div>

            <div class="col">
                <button id="btwo">r2= <%= rtwo %> </button>
            </div>
            

            <h1>Node + Express + MongoDb example</h1>
            <p id="item">ffff</p>
            <p id="counter">Loading button click data.</p>
            <button id="myButton">Click me!</button>
          </div>


        </form>
      </fieldset>
    </div>
  </body>
  
  <script type="text/javascript" src="/javascripts/client.js"></script>
</html>
