body{
    /*background-color: cadetblue !important;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

h1{
   /* color: red; */
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: #f8f9fa;
    padding-left: 50px;
 }

 .option{
    height: 150px;
    border: none !important;
    width: inherit;
 }

 .choice{
    height: 100%;
    width: 100%;
    border: none !important;
    font-size:70px;
 }


 .btn{
    border: none !important
 }


 .choice-text{
    font-size: 45px;
 }