/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   body{
      /*background-color: pink !important; */
     }
     .option{
      height: 100px;
      border: none !important;
      width: inherit;
      }
   
   .choice{
      height: 100%;
      width: 100%;
      border: none !important;
      font-size:70px;
      }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   body{
     /* background-color: orange!important; */
     }
     .option{
      height: 200px;
      border: none !important;
      width: inherit;
      }
   
   .choice{
      height: 100%;
      width: 100%;
      border: none !important;
      font-size:70px;
      }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   body{
     /* background-color: blue!important */
     }
     .option{
      height: 300px;
      border: none !important;
      width: inherit;
      }
   
   .choice{
      height: 100%;
      width: 100%;
      border: none !important;
      font-size:70px;
      }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   body{
     /* background-color: green!important; */
     }
     .option{
      height: 400px;
      border: none !important;
      width: inherit;
      }
   
   .choice{
      height: 100%;
      width: 100%;
      border: none !important;
      font-size:70px;
      }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
  /* background-color: red!important; */
  }

  .option{
   height: 500px;
   border: none !important;
   width: inherit;
   }

.choice{
   height: 100%;
   width: 100%;
   border: none !important;
   font-size:70px;
   }
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: #f8f9fa;
    padding-left: 50px;
 }




 .btn{
    border: none !important
 }


 .choice-text{
    font-size: 45px;
 }